.ActionsBlock {
  background: rgb(172, 172, 172);
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}
.group {
  display: flex;
}
